
/* CSS STYLE BY SpaherUI */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    padding: 0;
}

.container-02{
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    padding: 0;
}

.container-flex{
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}

button{
    border: none;
    height: 30px;
}


a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}





/* PROPERTY SECTION */

.w-full {
    width: 100%;
}
.w-full-px {
    max-width: 1000px;
}

.w-1{
    width: 11px;
}

.w-2{
    width: 20px;
}

.w-3{
    width: 30px;
}

.w-4{
    width: 40px;
}

.w-5{
    width: 50px;
}

.w-6{
    width: 60px;
}

.w-7{
    width: 70px;
}

.w-8{
    width: 80px;
}

.w-9{
    width: 90px;
}

.w-10{
    width: 100px;
}

.w-11{
    width: 110px;
}

.w-12{
    width: 120px;
}

.w-13{
    width: 130px;
}

.w-14{
    width: 140px;
}

.w-15{
    width: 150px;
}

.w-16{
    width: 160px;
}

.w-17{
    width: 170px;
}

.w-18{
    width: 180px;
}

.w-19{
    width: 190px;
}

.w-20{
    width: 200px;
}

.w-22{
    width: 222px;
}

.w-24{
    width: 224px;
}

.w-25{
    width: 225px;
}

.w-30{
    width: 300px;
}

.w-32{
    width: 322px;
}

.w-34{
    width: 324px;
}

.w-35{
    width: 325px;
}

.w-40{
    width: 400px;
}

.w-42{
    width: 422px;
}

.w-44{
    width: 424px;
}

.w-45{
    width: 425px;
}

.w-50{
    width: 500px;
}


.h-full{
    height:  100vh;
}

.h-full-px{
    max-height:  1000px;
}

.h-1 {
    min-height: 20px;
}

.h-2 {
    min-height: 40px;
}

.h-3 {
    min-height: 60px;
}

.h-4 {
    min-height: 80px;
}

.h-5 {
    min-height:100px;
}

.h-6 {
    min-height: 120px;
}

.h-7 {
    min-height: 140px;
}

.h-8{
    min-height: 160px;
}

.h-9{
    min-height: 160px;
}

.h-10{
    min-height: 180px;
}

.h-20{
    min-height: 280px;
}
.h-22{
    min-height: 300px;
}
.h-24{
    min-height: 350px;
}
.h-25{
    min-height: 370px;
}

.h-30{
    min-height: 280px;
}

.p-1{
    padding: 1%;
}

.p-2{
    padding: 2%;
}

.p-3{
    padding: 3%;
}

.p-4{
    padding: 4%;
}
.p-5{
    padding: 5%;
}

.pt-20{
    padding-top: 20%;
}

.pt-30{
    padding-top: 30%;
}

.pb-10{
    padding-bottom: 100%;
}

.m-1{
    margin: 10px 10px 10px 10px;
}

.m-2{
    margin: 12px 12px 12px 12px;
}

.m-3{
    margin: 13px 13px 13px 13px;
}

.m-4{
    margin: 14px 14px 14px 14px;
}

.m-5{
    margin: 15px 15px 15px 15px;

}
.m-6{
    margin: 16px 16px 16px 16px;
}
.m-7{
    margin: 17px 17px 17px 17px;
}
.m-8{
    margin: 18px 18px 18px 18px;
}
.m-9{
    margin: 19px 19px 19px 19px;
}
.m-10{
    margin: 20px 20px 20px 20px;
}

.m-20{
    margin: 40px 40px 40px 40px;
}

.m-30{
    margin: 60px 60px 60px 60px;
}

.m-40{
    margin: 80px 80px 80px 80px;
}

.mr-1{
    margin-right: 10px;
}

.mr-2{
    margin-right: 20px;
}

.mr-3{
    margin-right: 30px;
}

.mr-4{
    margin-right: 40px;
}

.mr-5{
    margin-right: 50px;
}

.mr-6 {
    margin-right: 60px;
}

.mr-7 {
    margin-right: 70px;
}

.mr-8 {
    margin-right: 80px;
}

.mr-9 {
    margin-right: 90px;
}

.mr-10 {
    margin-right: 100px;
}

.mr-11 {
    margin-right: 110px;
}

.mr-12 {
    margin-right: 120px;
}

.mr-13 {
    margin-right: 130px;
}

.mr-14 {
    margin-right: 140px;
}

.mr-15 {
    margin-right: 150px;
}

.mr-16 {
    margin-right: 160px;
}

.mr-17 {
    margin-right: 170px;
}

.mr-18 {
    margin-right: 180px;
}

.mr-19 {
    margin-right: 190px;
}

.mr-20 {
    margin-right: 200px;
}

.mr-21 {
    margin-right: 210px;
}

.mr-22 {
    margin-right: 220px;
}

.mr-23 {
    margin-right: 230px;
}

.mr-24 {
    margin-right: 240px;
}

.mr-25 {
    margin-right: 250px;
}

.mr-26 {
    margin-right: 260px;
}

.mr-27 {
    margin-right: 270px;
}

.mr-28 {
    margin-right: 280px;
}

.mr-29 {
    margin-right: 290px;
}

.mr-30 {
    margin-right: 300px;
}

.mr-31 {
    margin-right: 310px;
}

.mr-32 {
    margin-right: 320px;
}

.mr-33 {
    margin-right: 330px;
}

.mr-34 {
    margin-right: 340px;
}

.mr-35 {
    margin-right: 350px;
}

.mr-36 {
    margin-right: 360px;
}

.mr-37 {
    margin-right: 370px;
}

.mr-38 {
    margin-right: 380px;
}

.mr-39 {
    margin-right: 390px;
}

.mr-40 {
    margin-right: 400px;
}

.mr-41 {
    margin-right: 410px;
}

.mr-42 {
    margin-right: 420px;
}

.mr-43 {
    margin-right: 430px;
}

.mr-44 {
    margin-right: 440px;
}

.mr-45 {
    margin-right: 450px;
}

.mr-46 {
    margin-right: 460px;
}

.mr-47 {
    margin-right: 470px;
}

.mr-48 {
    margin-right: 480px;
}

.mr-49 {
    margin-right: 490px;
}

.mr-50 {
    margin-right: 500px;
}

.mt-0{
    margin-top: 0;
}

.mt-1{
    margin-top: 10px;
}

.mt-2{
    margin-top: 20px;
}

.mt-3{
    margin-top: 30px;
}

.mt-4{
    margin-top: 40px;
}

.mt-5{
    margin-top: 60px;
}

.mt-6{
    margin-top: 80px;
}

.mt-7{
    margin-top: 100px;
}

.mt-8 {
    margin-top: 160px;
}

.mt-9 {
    margin-top: 180px;
}

.mt-10 {
    margin-top: 200px;
}

.mt-11 {
    margin-top: 220px;
}

.mt-12 {
    margin-top: 240px;
}

.mt-13 {
    margin-top: 260px;
}

.mt-14 {
    margin-top: 280px;
}

.mt-15 {
    margin-top: 300px;
}

.mt-16 {
    margin-top: 320px;
}

.mt-17 {
    margin-top: 340px;
}

.mt-18 {
    margin-top: 360px;
}

.mt-19 {
    margin-top: 380px;
}

.mt-20 {
    margin-top: 400px;
}

.mt-21 {
    margin-top: 420px;
}

.mt-22 {
    margin-top: 440px;
}

.mt-23 {
    margin-top: 460px;
}

.mt-24 {
    margin-top: 480px;
}

.mt-25 {
    margin-top: 500px;
}

.mt-26 {
    margin-top: 520px;
}

.mt-27 {
    margin-top: 540px;
}

.mt-28 {
    margin-top: 560px;
}

.mt-29 {
    margin-top: 580px;
}

.mt-30 {
    margin-top: 600px;
}

.mt-31 {
    margin-top: 620px;
}

.mt-32 {
    margin-top: 640px;
}

.mt-33 {
    margin-top: 660px;
}

.mt-34 {
    margin-top: 680px;
}

.mt-35 {
    margin-top: 700px;
}

.mt-36 {
    margin-top: 720px;
}

.mt-37 {
    margin-top: 740px;
}

.mt-38 {
    margin-top: 760px;
}

.mt-39 {
    margin-top: 780px;
}

.mt-40 {
    margin-top: 800px;
}

.mt-41 {
    margin-top: 820px;
}

.mt-42 {
    margin-top: 840px;
}

.mt-43 {
    margin-top: 860px;
}

.mt-44 {
    margin-top: 880px;
}

.mt-45 {
    margin-top: 900px;
}

.mt-46 {
    margin-top: 920px;
}

.mt-47 {
    margin-top: 940px;
}

.mt-48 {
    margin-top: 960px;
}

.mt-49 {
    margin-top: 980px;
}

.mt-50 {
    margin-top: 1000px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.ml-6 {
    margin-left: 60px;
}

.ml-7 {
    margin-left: 70px;
}

.ml-8 {
    margin-left: 80px;
}

.ml-9 {
    margin-left: 90px;
}

.ml-10 {
    margin-left: 100px;
}

.ml-11 {
    margin-left: 110px;
}

.ml-12 {
    margin-left: 120px;
}

.ml-13 {
    margin-left: 130px;
}

.ml-14 {
    margin-left: 140px;
}

.ml-15 {
    margin-left: 150px;
}

.ml-16 {
    margin-left: 160px;
}

.ml-17 {
    margin-left: 170px;
}

.ml-18 {
    margin-left: 180px;
}

.ml-19 {
    margin-left: 190px;
}

.ml-20 {
    margin-left: 200px;
}

.ml-21 {
    margin-left: 210px;
}

.ml-22 {
    margin-left: 220px;
}

.ml-23 {
    margin-left: 230px;
}

.ml-24 {
    margin-left: 240px;
}

.ml-25 {
    margin-left: 250px;
}

.ml-26 {
    margin-left: 260px;
}

.ml-27 {
    margin-left: 270px;
}

.ml-28 {
    margin-left: 280px;
}

.ml-29 {
    margin-left: 290px;
}

.ml-30 {
    margin-left: 300px;
}

.ml-31 {
    margin-left: 310px;
}

.ml-32 {
    margin-left: 320px;
}

.ml-33 {
    margin-left: 330px;
}

.ml-34 {
    margin-left: 340px;
}

.ml-35 {
    margin-left: 350px;
}

.ml-36 {
    margin-left: 360px;
}

.ml-37 {
    margin-left: 370px;
}

.ml-38 {
    margin-left: 380px;
}

.ml-39 {
    margin-left: 390px;
}

.ml-40 {
    margin-left: 400px;
}

.ml-41 {
    margin-left: 410px;
}

.ml-42 {
    margin-left: 420px;
}

.ml-43 {
    margin-left: 430px;
}

.ml-44 {
    margin-left: 440px;
}

.ml-45 {
    margin-left: 450px;
}

.ml-46 {
    margin-left: 460px;
}

.ml-47 {
    margin-left: 470px;
}

.ml-48 {
    margin-left: 480px;
}

.ml-49 {
    margin-left: 490px;
}

.ml-50 {
    margin-left: 500px;
}


.gap-5{
    margin: 10px;
}

.gap-10{
    margin: 20px;
}

.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.flex{
    flex: auto;
    display: flex;
}

.flex-content{
    flex:content;
    display: flex;
}

.justify-center{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.justify-left{
    display: flex;
    justify-content:flex-start;
    justify-items: center;
}

.justify-right{
    display: flex;
    justify-content:flex-end;
    justify-items: center;
}

.justify-last{
    display: flex;
    justify-content:flex-end;
    justify-items:last baseline;
}

.items-center{
    align-items: center;
}

.border{
    border: 1px;
    border-style: solid;
    border-color: white;
}

.border-none{
    border: none;
}

.z-bottom{
    z-index: 1;
}

.z-top{
    z-index: 10;
}

.hide{
    display: none;
}

.hover-red{
    :hover{
        background-color: #ec2870;
    }
}


/* COLORS SECTION */

.shadow-md{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-sm{
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19);
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-vanilla{
    background-color: rgb(206, 206, 206);
}

.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-yellow {
    background-color: yellow;
}

.bg-aqua-1{
    background-color: rgb(24, 77, 152);
}
.bg-aqua-2{
    background-color: rgb(9, 51, 110);
}
.bg-aqua-dark{
    background-color: rgb(7, 34, 73);
}

.bg-taro{
    background-color: rgb(29,27,75);
}

.bg-taro-dark{
    background-color: rgb(18, 16, 46);
}

.bg-grey{
    background-color: rgb(35, 35, 37);
}

.bg-grey-2{
    background-color: rgb(17, 17, 18);
}

.bg-pink-1{
    background-color: rgb(221, 69, 238);
}

.bg-pink-2{
    background-color: rgb(173, 48, 186);
}

.bg-pink-dark{
    background-color: rgb(109,28,118);
}
.text-white{
    color:white;
}

.text-pink-1{
    color: rgb(221, 69, 238);
}

.text-pink-2{
    color: rgb(173, 48, 186);
}

.text-black{
    color:black;
}

.text-grey{
    color:rgb(80, 80, 83);
}
.opacity-50{
    opacity: 50%;
}

.btn{
    border-radius: 15px;
    border: none;
    height: 30px;
}
.overflow-x-auto{
    overflow-x: auto;
}

.overflow{
    overflow: auto;
}

.border-white{
    border-color: white;
    border-style: solid;
    border-width: 1pt;
}

.border-grey{
    border-color: rgb(57, 56, 56);
    border-style: solid;
    border-width: 1pt;
}

/* GENERATED STYLE SECTION */

.row{
   float: left;
}

.col{
    float:none;
 }

.rounded-sm{
    border-radius: 5px;
}

.rounded-md{
    border-radius: 10px;
}

.rounded-lg{
    border-radius: 15px;
}

.rounded-full{
    border-radius: 100%;
}


.text-p-1{
    position: absolute;
    padding: 20px;
}

.text-p-2{
    position: absolute;
    padding: 40px;
}

.text-p-3{
    position: absolute;
    padding: 60px;
}

.text-p-4{
    position: absolute;
    padding: 80px;
}
.text-p-5{
    position: absolute;
    padding: 100px;
}


.font-bold{
    font-weight: bold;
}

.font-xsm{
    font-size: 15px;
}

.font-sm{
    font-size: 20px;
}

.font-md{
    font-size: 30px;
}

.font-lg{
    font-size: 40px;
}

.font-xl{
    font-size: 50px;
}


.g-area-menu{
    grid-area: menu;
}

.g-area-main{
    grid-area: main;
}

.g-area-header{
    grid-area: header;
}

.g-area-right{
    grid-area: right;
}

.g-area-footer{
    grid-area:footer;
}

.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-1 {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.grid-3-row {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.grid-2-row{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
}

:root {
    --start-color: rgb(55,48,162);
    --mid-color: rgb(49,46,130);
    --end-color: rgb(109,28,118);
  }


.gb1-taro2{
    color: rgb(55,48,162);
}

.gb2-taro{
    color: rgb(49,46,130);
}

.gb3-purple2{
    color:rgb(109,28,118);
}

.gradient-theme-joyfull{
    background-image: linear-gradient(to right, var(--start-color), var(--mid-color), var(--end-color));
}


.keyword {
    color: #ec2870; /* Pink for keywords */
    font-family: Arial, Helvetica, sans-serif;
}

.comment {
    color: #75715e; /* Gray for comments */
    font-family: Arial, Helvetica, sans-serif;
}

.string {
    color: #e6db74; /* Yellow for strings */
    font-family: Arial, Helvetica, sans-serif;
}

.number {
    color: #ae81ff; /* Purple for numbers */
    font-family: Arial, Helvetica, sans-serif;
}

.selector {
    color: rgb(100, 92, 255); /* Green for selectors */
    font-family: Arial, Helvetica, sans-serif;
}

.attribute {
    color: #66d9ef; /* Blue for attributes */
    font-family: Arial, Helvetica, sans-serif;
}

.operator {
    color: #f8f8f2; /* White for operators */
    font-family: Arial, Helvetica, sans-serif;
}

.bd-blur{
    backdrop-filter: blur(5px) brightness(1.0);
    background-color: rgba(0, 0, 0, 0.5);
}



/* RESPONSIVENES SECTION */
@media only screen and (max-width: 700px) {

    .container {
        margin-right: 0;
        margin-left: 0;
        padding:0;
        width: 100%;
    }

    .container-02{
        margin-right: 0;
        margin-left: 0;
        padding:0;
        width: 100%;
    }

    [class*="mob-hide"] {
        display: none !important;
    }

    [class*="mob-show"] {
        display: block !important;
    }

    [class*="mob-grid-1"] {
        display: grid !important;
        grid-template-columns: 100% !important;
        padding: 10px;
    }


    [class*="mob-justify-right"] {
        justify-content: end !important;
    }


    [class*="mob-justify-left"] {
        justify-content: start !important;
    }


    [class*="mob-justify-center"] {
        justify-content: center !important;
    }

    [class*="mob-ml-0"] {
        margin-left: 0% !important;
    }

    [class*="mob-pb-10"] {
        padding-bottom: 100vh !important;
    }

    [class*="mob-pb-5"] {
        padding-bottom: 50vh !important;
    }

    [class*="mob-mt-50"] {
        margin-top: 500px !important;
    }

    .mob-w-1 { width: 10px; }
    .mob-w-2 { width: 20px; }
    .mob-w-3 { width: 30px; }
    .mob-w-4 { width: 40px; }
    .mob-w-5 { width: 50px; }
}





/* ANIMATION SECTION */


.hover-red:hover{
    background-color: #ec2870;
}



.hover-black:hover {
    background-color: black;
}

.hover-white:hover {
    background-color: rgb(255, 255, 255);
}

.hover-vanilla:hover{
    background-color: rgb(206, 206, 206);
}

.hover-blue:hover {
    background-color: blue;
}

.hover-red:hover {
    background-color: red;
}
.hover-yellow:hover {
    background-color: yellow;
}

.hover-aqua-1:hover{
    background-color: rgb(24, 77, 152);
}
.hover-aqua-2:hover{
    background-color: rgb(9, 51, 110);
}
.hover-aqua-dark:hover{
    background-color: rgb(7, 34, 73);
}

.hover-taro:hover{
    background-color: rgb(29,27,75);
}

.hover-taro-dark:hover{
    background-color: rgb(18, 16, 46);
}

.hover-grey:hover{
    background-color: rgb(35, 35, 37);
}

.hover-grey-2:hover{
    background-color: rgb(17, 17, 18);
}

.hover-pink-1:hover{
    background-color: rgb(221, 69, 238);
}

.hover-pink-2:hover{
    background-color: rgb(173, 48, 186);
}

.hover-pink-dark:hover{
    background-color: rgb(109,28,118);
}


.hover-text-white:hover{
    color:white;
}

.hover-text-black:hover{
    color:black;
}


.hover-delay-1:hover{
    transition-delay: 1s; 
}

.hover-delay-2:hover{
    transition-delay: 2s; 
}

.bg-ease-delay-03{
    transition: background-color 0.3s ease;
}

.bg-ease-delay-02{
    transition: background-color 0.2s ease;
}

.bg-ease-delay-01{
    transition: background-color 0.1s ease;
}

.bg-ease-delay-1{
    transition: background-color 1s ease;
}

.bg-ease-delay-2{
    transition: background-color 2s ease;
}

.bg-ease-delay-3{
    transition: background-color 3s ease;
}


.cl-ease-delay-03{
    transition: color 0.3s ease;
}

.cl-ease-delay-02{
    transition: color 0.2s ease;
}

.cl-ease-delay-01{
    transition: color 0.1s ease;
}

.cl-ease-delay-1{
    transition: color 1s ease;
}

.cl-ease-delay-2{
    transition: color 2s ease;
}

.cl-ease-delay-3{
    transition: color 3s ease;
}